body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/*  Header  */
header {
    background: #353637;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #32a0c2 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0px 20px 20px 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .current a {
    color: #32a0c2;
    /*font-weight: bold;*/
}

header a:hover {
    color: #cccccc;
    /*font-weight: bold;*/
}

/*  Webcam  */
#webcam {
    padding: 15px;
    color: #ffffff;
    background: #353637;
}

#webcam form {
    display: inline;
    margin-top: 20px;
    float: left;
    text-align: center;
}

.shoot_button {
    height: 24px;
    background: #cccccc;
    border: 1px solid #32a0c2;
    padding-left: 10px;
    padding-right: 10px;
    color: #353637;
    border-radius: 12px;
    text-transform: uppercase;
    width: 50%;
}

#webcam input[type="submit"]:hover {
    color: #32a0c2;
    /*font-weight: bold;*/
}

/*  Sidebar */
aside#sidebar {
    margin-top: 20px;
    border: 2px solid black;
    float: right;
    width: 30%;
    padding: 5px;
}

article#main-col {
    margin-top: 20px;
    padding: 5px;
    border: 2px solid black;
    float: left;
    width: 65%;
}

/*  Footer  */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0 ;

    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #32a0c2;
    text-align: center;
}

@media (max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #webcam form,
    #webcam form[type="radio"],
    article#main-col,
    aside#sidebar {
        text-align: center;
        width: 100%;
    }
}
