<header>
    <div class="container">
        <div id="branding">
            <a href="./index.php"><h1><i class="fa fa-camera-retro"></i> Camagru</h1></a>
        </div>
        <nav>
            <ul id="drop-down-menu">
                <li class="current"><a href="./index.php">Home</a></li>
                <li><a href="./gallery.php">Gallery</a></li>
                <li><a href="./mypage.php">My Page</a>
                    <!--<ul>-->
                        <!--<li><a href="#"> myPics</a></li>-->
                        <!--<li><a href="#"> Logout</a></li>-->
                    <!--</ul>-->
                </li>
            </ul>
        </nav>
    </div>
</header>
